*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 130px 30px;
  width: 100vw;
}
  
.content {
  display: grid;
  grid-area: content;
  gap: 30px;
  inline-size: 100%;
  width: 1140px;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  place-items: end;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
  
  /* left*/

  .result {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 16px;
    height: 100%;
    width: 711px;
  }

  .result__video-container {
    position: relative;
    height: 386px;
    width: 711px;
    padding-bottom: 16px;
  }

  .result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
  }

  .search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    inline-size: 100%;
  }

  .search-form__fieldset-title {
    font: inherit;
  }

  .search-form__checkbox-list {
    display: flex;
    gap: 15px;
  }
  
  .search-form__label {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  /*input*/

  .search-form__textfield {
    appearance: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    width: 220px;
    height: 27px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    color: white;
  }

  .search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  .search-form__textfield:active {
    border-right-color: #fff;
    border-left-color: #fff;
  }

  .search-form__textfield:focus {
    outline: none;
  }

  .search-form__label:has(:focus-visible) {
    outline: 1px #fff solid;
    outline-offset: 2px;
  }

  .search-form__label:hover {
    text-decoration: underline 1px #FFF;
    text-underline-offset: 5px;
  }

  /*checkbox*/

  .search-form__pseudo-checkbox {
    display: block;
    inline-size: 19px;
    block-size: 19px;
    border: 1px solid #FFF;
  }

  .search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: '';
    display: block;
    background-color: #FFF;
    inline-size: 15px;
    block-size: 15px;
    margin: 1px 0 0 1px;
  }

  /*buttons*/

  .button {
    background: transparent;
    color: #FFF;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    border: 1px solid #fff;
    cursor: pointer;
    min-height: 34px;
  }

  .search-form__submit-button {
    align-self: end;
    width: 590px;
    min-height: 32px;
  }

    .button:focus {
    outline: none;
  }
  
  .more-button {
    width: 393px;
    margin-top: 32px;
  }

  .button:active {
    background-color: #545050;
  }

  .button:hover {
    text-decoration: underline 1px #FFF;
  }

  .button:focus-visible {
    outline: 1px solid #FFF;
    outline-offset: 1px;
  }

  /*right*/

  .content__list-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 300px;
    overflow-y: auto;
  }

  .content__list {
      display: flex;
      flex-direction: column;
      gap: 30px;
  }

  .content__video-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .content__video-card-thumbnail {
    object-fit: cover;
    object-position: center;
    inline-size: 194px;
    block-size: 103px;
  }

  .content__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 26px;
    width: 100%;
    height: 100%;
  }

  .title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 75px;
    font-style: normal;
    line-height: 0.94;
    text-transform: uppercase;
    color: #fff;
  }

  .content__accent {
    color: #545050;
  }

  .content__card-link {
    display: block;
    margin: 2px;
    text-decoration: none;
  }

  .content__video-card-description-container {
    height: 100%;
    width: 50%;
    flex-grow: 1;
  }

  .content__video-card-title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    line-height: 100%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 196px;
    padding-bottom: 6px;
    color: #fff;
  }

  .content__video-card-description {
    width: 100%;
    color: #fff;
    font-family: Fira Sans Condensed, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .content__card-link_current, .content__card-link:active {
    background-color: #545050;
  } 
  
  .content__card-link:hover {
    text-decoration: underline 1px #FFF;
  }
  
  .content__card-link:focus {
    outline: none;
  }
  
  .content__card-link:focus-visible {
    outline: 1px solid #FFF;
  }

  .content__list-item {
    padding-left: 3px;
    padding-right: 3px;
  }